*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(139, 0, 0, 0.4);
}
.container {
    background: white;
    padding: 3rem;
    border-radius: 1.5rem;
}

span{
    font-size: 40px;
    font-weight: 600;
}
#btn{
   display: block;
   width: 50%;
   margin: 2rem auto 1rem;
   height: 3rem;
   background-color: rgb(79, 71, 71);
   border-radius: 0.5rem;
   color: white;
   outline: none;
   border: none;
   font-size: 20px;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(169, 32, 32);
}